body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: plum;
}
.pagecontainer {
  width: 800px;
  margin: 10px auto;
  padding: 32px;
  background-color: #fff;
  position: relative;
}
.productlisting {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  direction: row;
}

.productlisting .productlistitem {
  padding: 10px 30px;
  width: 200px;
}
.menu {
  position: absolute;
  right: 50px;
  top: 50px;
  margin: 0;
}
.menu li {
  display: inline-block;
}

.menu li:before {
  content: '|';
  margin: 0px 4px;
}
.menu li:nth-child(1):before {
  content: '';
  margin: 0px 4px;
}
